@CHARSET "UTF-8";
.questiontype{
	float:right;
	width:50px;
	margin-right:700px
}
.displayque{
	background-color: lightyellow;
	float:right;
	padding:0px;
	margin-top:5%;
    margin-right:-200px
    
} 
.s{
	background-color: blue;
	float:right;
	padding:3px;
    margin-right:-230px
}
.dq{
	float:left;
	background-color: red;	
	float:top;
	width:100px;
}	
.bottom{
	background-color: pink;
	float:right;
	padding:10px;
    margin-right:-350px
}	
}